/* Общие настройки */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25%;
    background-color: #eebf6245;
}

header a {
    text-decoration: none;
    color: #1E1E1E;
    margin-left: 20px;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
    position: relative; /* Для позиционирования псевдоэлемента */
}
header a:hover {
    color: #1E1E1E;
    text-decoration: none;
}

header a::after {
    content: ""; /* Псевдоэлемент для подчеркивания */
    position: absolute;
    bottom: -5px; /* Отступ под текстом */
    left: 50%; /* Начинаем с середины */
    transform: translateX(-50%); /* Центрируем относительно текста */
    width: 30%; /* Изначально маленькая черта */
    height: 2px; /* Толщина подчеркивания */
    background-color: #1E1E1E; /* Цвет подчеркивания */
    transition: width 0.3s ease; /* Плавное изменение ширины */
}

header a:hover::after {
    width: 100%; /* Подчеркивание растягивается на всю ширину ссылки */
}

.access-denied {
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.access-denied h2 {
    color: #d9534f;
    margin-bottom: 10px;
}

.access-denied p {
    color: #555;
}


/* Breadcrumbs */
.breadcrumbs {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumb-link {
    color: #000;
    text-decoration: none;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

/* Content */
.content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.content-item {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
}

.category-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.item-content {
    display: flex;
    gap: 15px;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    background-color: transparent; 
    flex-shrink: 0;
    box-shadow: 0px 5px 20px -5px rgba(34, 60, 80, 0.2) inset;
}

.text-content {
    flex-grow: 1;
}

.item-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.item-description {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #555;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffb24d;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #fb7039;
}
